version: 0.0.0.{build}
pull_requests:
  do_not_increment_build_number: true
image:
- Visual Studio 2019
configuration: Release
platform: Any CPU
clone_depth: 5
before_build:
- ps: dotnet restore
build:
  project: Warcraft.NET.sln
  publish_nuget: true
  publish_nuget_symbols: true
  include_nuget_references: true
  publish_core_console: true
  parallel: true
  verbosity: minimal